{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "> 1%",
                        "last 2 versions",
                        "ie >= 9",
                        "ios >= 8",
                        "android >= 4"
                    ]
                },
                "useBuiltIns": "usage",
                "modules": false,
                "debug": false
            }
        ],
        "@babel/preset-react"
    ]
}
