{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": ["react", "jsx-a11y"],
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "amd": true
    },
    "extends": ["airbnb-base", "plugin:react/recommended"],
    "settings": {
        "react": {
            "pragma": "React",
            "version": "16.7.0"
        }
    },
    "rules": {
        "react/jsx-uses-react": "error",
        "react/prop-types": "error",
        "jsx-a11y/no-static-element-interactions": "warn",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "no-extra-boolean-cast": "error",
        "no-cond-assign": "error",
        "no-magic-numbers": [
            "off",
            {
                "ignoreArrayIndexes": true,
                "ignore": [0, 1],
                "enforceConst": true
            }
        ],
        "max-params": ["error", 6],
        "no-var": "error",
        "no-console": "off",
        "no-alert": "off",
        "no-debugger": "off",
        "eqeqeq": "off",
        "one-var": "off",
        "one-var-declaration-per-line": "off",
        "vars-on-top": "off",
        "no-plusplus": "off",
        "no-mixed-operators": "off",
        "prefer-template": "off",
        "no-bitwise": "off",
        "no-multiple-empty-lines": "off",
        "no-unused-expressions": "off",
        "no-lonely-if": "off",
        "block-scoped-var": "off",
        "global-require": "off",
        "no-shadow": "off",
        "no-eval": "warn",
        "object-shorthand": "off",
        "quote-props": "off",
        "padded-blocks": "off",
        "func-names": "off",
        "prefer-arrow-callback": "off",
        "no-return-assign": "off",
        "consistent-return": "off",
        "no-param-reassign": "off",
        "prefer-spread": "off",
        "no-use-before-define": "off",
        "camelcase": "off",
        "no-prototype-builtins": "off",
        "no-redeclare": "off",
        "max-len": [
            "warn",
            {
                "code": 160,
                "ignoreComments": true,
                "ignoreTrailingComments": true,
                "ignoreUrls": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true,
                "ignoreRegExpLiterals": true
            }
        ],
        "no-unused-vars": [
            "error",
            {
                "vars": "all",
                "args": "none",
                "varsIgnorePattern": "Debounce|connect|mapToProps"
            }
        ],
        "no-continue": "off",
        "no-restricted-syntax": ["error", "WithStatement"],
        "no-underscore-dangle": ["error", { "allowAfterThis": true }],
        "import/prefer-default-export": "off",
        "no-new": "off",
        "linebreak-style": "off",
        "import/first": "off",
        "prefer-const": "off",
        "import/no-unresolved": "off",
        "import/extensions": "off",
        "import/no-extraneous-dependencies": "off",
        "default-case": "off",
        "no-nested-ternary": "off",
        "prefer-promise-reject-errors": "off",
        "class-methods-use-this": "off",
        "object-curly-newline": "off",
        "no-trailing-spaces": "off",
        "react/display-name": "off"
    },
    "globals": {
        "CODE_VERSION": false,
        "CODE_ENV": false,
        "NODE_ENV": false
    }
}
